{% extends "base_tem.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block style %}
<style>
	#search_border{
		padding: 20px;
		background-color: rgba(0, 0, 0, 0.543);
		border-radius: 15px;
	}
</style>
  
{% endblock style %}

{% block body %}
  

{% include "base/nav.html" %}


			<!-- start banner Area -->
			<section class="banner-area relative" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								Job List				
							</h1>
							<div class="col-md-12" id="search_border">
							<form action="." method="GET" class="serach-form-area">
								<div class="row justify-content-center form-wrap">
									<div class="col-lg-2 form-cols text-white">
										{{ filter.form.location__icontains|as_crispy_field }}
										
									</div>
									<div class="col-lg-2 form-cols text-white">
										{{ filter.form.company__country|as_crispy_field }}
									</div>
									<div class="col-lg-2 form-cols text-white">
										{{ filter.form.company|as_crispy_field }}
									</div>
									
									<div class="col-lg-2 form-cols text-white">
										{{ filter.form.category|as_crispy_field }}
									</div>
									<div class="col-lg-2 form-cols p-2">
									    <button type="submit" class="btn btn-info mt-3">
									      <span class="lnr lnr-magnifier"></span> Search
									    </button>
									</div>								
								</div>
							</form>	
							</div>
							<p class="text-white"> <span>Search by tags:</span> Location, Country, Company, category, Design, Development</p>
							<p class="text-white link-nav"><a href="{% url 'home' %}">Home </a>  <span class="lnr lnr-arrow-left"></span>  <a href="category.html"> </a></p>
						</div>											
					</div>
				</div>
			</section>
			<!-- End banner Area -->	
			
			<!-- Start post Area -->
			<section class="post-area section-gap">
				<div class="container-fluid">
					<div class="row justify-content-center d-flex">
						<!-- side bar start here -->
						<div class="col-lg-3 sidebar">
							<div class="single-slidebar">
								<h4>Jobs by Countries</h4>
								<ul class="cat-list">
									{% for country in countries  %}
									<li><a class="justify-content-between d-flex text-white" ><p>{{country.company.country.name}}</p><span>{{country.c_count}}</span></a></li> 
									{% endfor %}
									
									
								</ul>
							</div>

							<div class="single-slidebar">
								<h4>Job by Location</h4>
								
								<ul class="cat-list">
									{% for job in filter.qs  %}
									<li><a class="justify-content-between d-flex text-white" ><p>{{job.location}}</p><span>{{country.c_count}}</span></a></li> 
									{% endfor %}
									
									
								</ul>

							</div>							

							<div class="single-slidebar">
								<h4>Jobs by Category</h4>
								<ul class="cat-list">
								{% for category in categories  %}
									<li><a class="justify-content-between d-flex text-white"><p>{{category.category_name}}</p><span>{{country.c_count}}</span></a></li> 
								{% endfor %}
								</ul>
							</div>

						

						</div>
						<!-- side bar end here -->
						
						<!-- job list  -->
						<div class="col-lg-7 post-list">
							
							{% for job  in  jobs %}
							<div class="single-post row">
								<div class="col-md-2 text-center">
									<h5 class="text-white"><b>Job Type</b><br>{{job.job_type}}</h5>
									<img src="{{job.company.image.url}}" style="border-radius: 50%;" width="100px" height="100px">
									<h6 class="text-white"><a href="{% url 'company_detail' job.company.id  %}">{{job.company.company_name}}</a></h6>
								</div>
								<div class="col-md-7">
																				
										<a href="single.html"><h4>{{job.title}}</h4></a>
											<h6>{{job.category}}</h6>	
										<p>
											{{job.job_description}}
										</p>	
										<div class="titles">
			
										</div>
										
								</div>
								<div class="col-md-3">
									<div class="row justify-content-center align-items-center">
										
										<ul class="btns">
										{% if request.user.is_recruiter and request.user.role == 'recruiter' %}
											<li><a href="" class="text-white">View</a></li>
										{% else %}
												<li><a href="#" class="text-white"><span class="lnr lnr-heart"></span></a></li>
									
										{% for aplli in  applied %}
										
										{% if aplli.job.id == job.id%}
										<span class="badge badge-pill badge-danger">APPLIED</span>
										{% endif %}												  
										{% endfor %}
	
										<li><a href="{% url 'apply_job' job.id %}" class="text-white">Apply</a></li>
												
	
										{% endif %}

										</ul>
										
									</div>

								</div>

								
							</div>
							{% endfor %}
							
							<nav aria-label="Page navigation example">
							{% if page_obj.has_other_pages %}
							<ul class="pagination justify-content-center">
								<li class="page-item ">
								<a class="page-link" href="?page=1" tabindex="-1">First</a>
								</li>
								{% if page_obj.has_previous %} 
								<li class="page-item ">
								<a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1"><i class="fa-solid fa-angles-left"></i></a>
								</li> 
								{% else %}
								<li class="page-item disabled"></li>
								{% endif %}
								
								{% for number in  page_obj.paginator.page_range  %}
								
								{% if page_obj.number == number %}
								<li class="page-item active"><a class="page-link" href="?page={{number}}">{{number}}</a></li>
								{% else %}
								<li class="page-item"><a class="page-link" href="?page={{number}}">{{number}}</a></li>
								{% endif %}
								  
								{% endfor %}
								
								
								{% if page_obj.has_next %}
								<li class="page-item ">
									<a class="page-link" href="?page={{page_obj.next_page_number }}" tabindex="-1"><i class="fa-solid fa-angles-right"></i></a>
								</li> 
								{% else %}
								<li class="page-item disabled"></li>
								{% endif %}
								<li class="page-item ">
									<a class="page-link" href="?page={{page_obj.paginator.num_pages}}" tabindex="-1">Last</a>
								</li> 
								
							</ul>
							{% endif %}
							</nav>

						</div>
						<!-- job list end here -->
						


					</div>
									<!-- pagination start here -->
				<!-- pagination end here -->
				</div>	
			</section>
			<!-- End post Area -->



{% include "base/footer.html" %}



{% endblock body %}
			{% block scripts %}

			<!-- for the flash messages sweetalert -->
			<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
			
			<script>
				{% for msg in messages %}
					{% if msg.tags == 'success'  %}
						swal('{{msg}}','thank you',"success");
					{% else %}
					swal('{{msg}}','',"error");
					{% endif %}
				{% endfor %}
			</script>
			
			{% endblock scripts %}

