{% extends "base_tem.html" %}
{% load static %}

{% block body %}
  

{% include "base/nav.html" %}


			<!-- start banner Area -->
			<section class="banner-area relative" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								Recruites			
							</h1>	
							<p class="text-white link-nav"><a href="index.html">Home </a>  <span class="lnr lnr-arrow-left"></span>  <a href="category.html"> </a></p>
						</div>											
					</div>
				</div>
			</section>
			<!-- End banner Area -->	
			
			<!-- Start post Area -->
			<section class="post-area section-gap">
				<div class="container-fluid">
					<div class="row justify-content-center d-flex">
						<!-- side bar start here -->
						<div class="col-lg-3 sidebar">
							<div class="single-slidebar">
								<h4>Companies</h4>
								<ul class="cat-list">
                                    {% for company in jobs  %}
                                      	<li><a class="justify-content-between d-flex text-white" href="category.html"><p>{{company.company_name}}</p><span>{{company.ccount}}</span></a></li>
                                    {% endfor %}
								

								</ul>
							</div>

						

						</div>
						<!-- side bar end here -->
						
						<!-- job list  -->
						<div class="col-lg-7 post-list">
							
							{% for recruiter  in  recruiters %}
							<div class="single-post row">
								<div class="col-md-2 text-center">
									<h5 class="text-white">{{recruiter.first_name}} {{recruiter.last_name}}</h5>
									<h6 class="text-white">{{recruiter.email}}</h6>
								</div>
								<div class="col-md-7">
																				
										<a href=""><h4>{{recruiter.company_set.company_name}}jjjj</h4></a>
											<h6>{{job.category}}</h6>	
										<p>
											{{job.job_description}}
										</p>	
										<div class="titles">
			
										</div>
										
								</div>
								<div class="col-md-3">
									<div class="row justify-content-center align-items-center">
										<ul class="btns">
											<li><a href="" class="text-white">Connect</a></li>
										</ul>
									</div>
								</div>

								
							</div>
							{% endfor %}

						</div>
						<!-- job list end here -->

					</div>
				</div>	
			</section>
			<!-- End post Area -->

			<!-- Start callto-action Area -->
			<section class="callto-action-area section-gap">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content col-lg-9">
							<div class="title text-center">
								<h1 class="mb-10 text-white">Join us today without any hesitation</h1>
								<p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
								<a class="primary-btn" href="#">I am a Candidate</a>
								<a class="primary-btn" href="#">Request Free Demo</a>
							</div>
						</div>
					</div>	
				</div>	
			</section>
			<!-- End calto-action Area -->			
		
{% include "base/footer.html" %}



{% endblock body %}

