{% extends "base_tem.html" %}
{% load static %}
{% block style %}
<style>
    .jumbotron{
        max-height: 500px;
        min-height: 500px;
    }
</style>
  
{% endblock style %}

{% block body %}
  

{% include "base/nav.html" %}
			<!-- start banner Area -->
			<section class="banner-area relative" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								Companies List				
							</h1>	
							<p class="text-white link-nav"><a href="{% url 'home' %}">Home </a>  <span class="lnr lnr-arrow-left"></span>  <a href="category.html"> </a></p>
						</div>											
					</div>
				</div>
			</section>
			<!-- End banner Area -->	
			<!-- Start companies Area -->
			<section class="post-area section-gap">
				<div class="container-fluid">
					<div class="row align-items-center justify-content-center">
						<div class="col-md-6 m-0">
							
                            <div class="embed-responsive embed-responsive-4by3" >
                                <iframe class="embed-responsive-item"  src="{{applied_job.resume.url}}"></iframe>
                            </div>
							
						</div>
						<div class="col-md-6 m-0">
							<div class="jumbotron m-0" style="background-color: rgba(0, 0, 0, 0.425);">
                                <h3><a class='text-white' href="{% url 'job_applications' %}"><i class="fa-solid fa-arrow-left-long "></i></a></h3>
								
								<hr class="my-4 text-white" style="background-color: rgb(23, 216, 255);">
								<p class="lead text-white">{{applied_job.user.first_name}} {{applied_job.user.last_name}}</p>
								<p class="lead text-white">{{applied_job.created}}</p>
								<p class="lead text-white">{{applied_job.user.email}}</p>
								<p class="lead text-white">{{applied_job.user.phone}}</p>
                                <!-- <h1 class="text-white">{{applied_job.viewed}}</h1> -->
    
								<hr class="my-4 text-white" style="background-color: rgb(23, 216, 255);">
								
								<p></p>

							</div>
						</div>
					</div>

                      
				</div>	
			</section>					


			<!-- End companies Area -->
	
		
{% include "base/footer.html" %}

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script>
            function getId(id){
                const url = `${window.location.origin}/spam_company/${id}/`
                swal({
                title: "Are you sure?",
                text: "Do you want to give the Activate the user",
                icon: "success",
                confirmButtonColor: "#063970",
                buttons: true,
                
                })
                .then((willDelete) => {
                if (willDelete) {
                    swal("Success ", {
                    icon: "success",
                    
                    });
                    window.location = url
                    
                } else {
                    swal(" Cancelled the request ");
                }
                });
                } 
        </script>

{% endblock body %}

