{% extends "base_tem.html" %}
{% load static %}

{% block style %}

  
{% endblock style %}


{% block body %}
  

			<!-- navbar start here -->
			{% include "base/nav.html" %}
			<!-- navbar end here -->
			 


			<!-- start banner Area -->
			<section class="banner-area relative" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row fullscreen d-flex align-items-center justify-content-center">
						<div class="banner-content col-lg-12">
							<h1 class="text-white">
								<span style="color: rgb(255, 255, 255);">{{job_count}} + </span> Jobs posted ,<span style="color: rgb(255, 255, 255);">{{companies.count}} + </span>Companies				
							</h1>	
	
							
						</div>											
					</div>
				</div>
			</section>
			<!-- End banner Area -->


			<!-- Start features Area -->
			<section class="features-area" style="">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-6">
							<div class="single-feature text-white">
								<h4 style="color: white;">Searching</h4>
								<p>
									Search the jobs.
								</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="single-feature">
								<h4 class="text-white">Applying</h4>
								<p>
									Apply for your dream jobs.
								</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="single-feature">
								<h4 class="text-white">Job Fairs</h4>
								<p>
									Check the job fairs
								</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="single-feature">
								<h4 class="text-white"> Touch with us</h4>
								<p>
									Touch with us.
								</p>
							</div>
						</div>																		
					</div>
				</div>	
			</section>
			<!-- End features Area -->
			
			<!--  -->
			<section class="feature-cat-area pt-100" id="category">
				<div class="container-fluid">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-10">
							<div class="title text-center">
								<h1 class="mb-10 text-white">Companies </h1>
								<p class="text-white">Who are in extremely love with job changes.</p>
							</div>
						</div>
					</div>						
					<div class="row justify-content-center overflow-auto">

						{% for company in companies  %}
						
								<div class="col-lg-2 col-md-3 col-sm-6 company ">
									
									<div class="single-fcat">
										<img src="{{company.image.url}}" width="100%" height="100px" alt="">
										<p class="text-white">{{ company.company_name|upper }}</p>
										<p class="text-white">{{ company.email }}</p>
										<p class="text-white">{{ company.contact_number}}</p>
										<p class="text-white">{{ company.places|upper }}</p>
									</div>
									
								</div>
							
						{% endfor %}
																																
					</div>
				</div>	
			</section>

			
			<!-- Start feature-cat Area -->
			<section class="feature-cat-area pt-100" id="category">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-10">
							<div class="title text-center">
								<h1 class="mb-10 text-white">Featured Job Categories</h1>
								<p class="text-white">Who are in extremely love with eco friendly system.</p>
							</div>
						</div>
					</div>						
					<div class="row justify-content-center">
						<!-- <div class="col-lg-2 col-md-4 col-sm-6">
							<div class="single-fcat">
								<a href="category.html">
									<img src="{% static 'img/o1.png' %}" alt="">
								</a>
								<p class="text-white">Accounting</p>
							</div>
						</div> -->
						{% for category in categories  %}
						
							<div class="col-lg-2 col-md-3 col-sm-6">
								<div class="single-fcat">
									<p class="text-white">{{ category.category_name|upper }}</p>
								</div>
							</div>
							
						{% endfor %}
																																
					</div>
				</div>	
			</section>
			<!-- End feature-cat Area -->
			
			<!-- Start post Area -->
			<section class="post-area section-gap">
				<div class="container" id="load">
					<div class="row justify-content-center d-flex">
						<div class="col-lg-12 post-list">
														{% for job  in  jobs %}
							<div class="single-post row">
								<div class="col-md-2 text-center">
									<h5 class="text-white"><b>Job Type</b><br>{{job.job_type}}</h5>
									<img src="{{job.company.image.url}}" style="border-radius: 50%;" width="100px" height="100px">
									<h6 class="text-white">{{job.company.company_name}}</h6>
								</div>
								<div class="col-md-7">
																				
										<a href="single.html"><h4>{{job.title}}</h4></a>
											<h6>{{job.category}}</h6>	
										<p>
											{{job.job_description}}
										</p>	
										<div class="titles">
			
										</div>
										
								</div>
								<div class="col-md-3">
									<div class="row justify-content-center align-items-center">
										
										<ul class="btns">
										{% if request.user.is_recruiter and request.user.role == 'recruiter' %}
											<li><a href="" class="text-white">View</a></li>
										{% else %}
												<li><a href="#" class="text-white"><span class="lnr lnr-heart"></span></a></li>
									
										{% for aplli in  applied %}
										
										{% if aplli.job.id == job.id%}
										<span class="badge badge-pill badge-danger">APPLIED</span>
										{% endif %}												  
										{% endfor %}
	
										<li><a href="{% url 'apply_job' job.id %}" class="text-white">Apply</a></li>
												
	
										{% endif %}

										</ul>
										
									</div>

								</div>

								
							</div>
							{% endfor %}
							
							{% if job_count == count 	%}
							<a class="text-uppercase loadmore-btn mx-auto d-block text-white" style="background-color: rgba(2, 2, 2, 0.685) ;">No More Items... </a>
							{% else %}
							<a class="text-uppercase loadmore-btn mx-auto d-block" href="?intial_value={{count}}">Load More job Posts</a>
							{%  endif %}
							
							

						</div>
					
					</div>
				</div>	
			</section>
			<!-- End post Area -->


			<!-- Start download Area -->

			<!-- End download Area -->
		
			<!-- start footer Area -->	
			{% include "base/footer.html" %}	

			<!-- End footer Area -->	
			{% endblock body %}	





