{% extends "base_tem.html" %}
{% load static %}


{% block body %}
  

			<!-- navbar start here -->
			{% include "base/nav.html" %}
			<!-- navbar end here -->
			 


			<!-- start banner Area -->
			<section class="banner-area relative" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row fullscreen d-flex align-items-center justify-content-center">
						<div class="banner-content col-lg-12">
							<h1 class="text-white">
								<span style="color: rgb(255, 255, 255);">{{jobs|length}} + </span> Jobs posted last week				
							</h1>	
							<form action="search.html" class="serach-form-area">
								<div class="row justify-content-center form-wrap">
									<div class="col-lg-4 form-cols">
										<input type="text" class="form-control" name="search" placeholder="what are you looging for?">
									</div>
									<div class="col-lg-3 form-cols">
										<div class="default-select" id="default-selects">
											<select>
												<option value="1">Select area</option>
												<option value="2">Dhaka</option>
												<option value="3">Rajshahi</option>
												<option value="4">Barishal</option>
												<option value="5">Noakhali</option>
											</select>
										</div>
									</div>
									<div class="col-lg-3 form-cols">
										<div class="default-select" id="default-selects2">
											<select>
												<option value="1">All Category</option>
												<option value="2">Medical</option>
												<option value="3">Technology</option>
												<option value="4">Goverment</option>
												<option value="5">Development</option>
											</select>
										</div>										
									</div>
									<div class="col-lg-2 form-cols">
									    <button type="button" class="btn btn-info">
									      <span class="lnr lnr-magnifier"></span> Search
									    </button>
									</div>								
								</div>
							</form>	
							<p class="text-white"> <span>Search by tags:</span> Tecnology, Business, Consulting, IT Company, Design, Development</p>
						</div>											
					</div>
				</div>
			</section>
			<!-- End banner Area -->	

			<!-- Start features Area -->
			<section class="features-area" style="">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-6">
							<div class="single-feature text-white">
								<h4 style="color: white;">Searching</h4>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing.
								</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="single-feature">
								<h4 class="text-white">Applying</h4>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing.
								</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="single-feature">
								<h4 class="text-white">Security</h4>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing.
								</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="single-feature">
								<h4 class="text-white">  Notifications</h4>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing.
								</p>
							</div>
						</div>																		
					</div>
				</div>	
			</section>
			<!-- End features Area -->
			
			<!-- Start popular-post Area -->
			<section class="popular-post-area pt-100">
				<div class="container-fluid">
					<div class="row align-items-center p-2">
						<div class="active-popular-post-carusel">

							{% for company in companies  %}
							<div class="single-popular-post d-flex flex-row">
								<div class="thumb">
									<img src="{{company.image.url}}" alt="" height="100px" width="100px">
									
								</div>
								<div class="details">
									<a href="#"><h4>{{company.company_name|upper }}</h4></a>
									<h6>{{company.email}}</h6>
									<p class="text-white">
										{{company.places}}
									</p>
								</div>
							</div>
							{% endfor %}

																																						
						</div>
					</div>
				</div>	
			</section>
			<!-- End popular-post Area -->
			
			<!-- Start feature-cat Area -->
			<section class="feature-cat-area pt-100" id="category">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-10">
							<div class="title text-center">
								<h1 class="mb-10 text-white">Featured Job Categories</h1>
								<p class="text-white">Who are in extremely love with eco friendly system.</p>
							</div>
						</div>
					</div>						
					<div class="row justify-content-center">
						<!-- <div class="col-lg-2 col-md-4 col-sm-6">
							<div class="single-fcat">
								<a href="category.html">
									<img src="{% static 'img/o1.png' %}" alt="">
								</a>
								<p class="text-white">Accounting</p>
							</div>
						</div> -->
						{% for category in categories  %}
						
							<div class="col-lg-2 col-md-3 col-sm-6">
								<div class="single-fcat">
									<p class="text-white">{{ category.category_name|upper }}</p>
								</div>
							</div>
							
						{% endfor %}
																																
					</div>
				</div>	
			</section>
			<!-- End feature-cat Area -->
			
			<!-- Start post Area -->
			<section class="post-area section-gap">
				<div class="container" id="load">
					<div class="row justify-content-center d-flex">
						<div class="col-lg-12 post-list">
														{% for job  in  jobs %}
							<div class="single-post row">
								<div class="col-md-2 text-center">
									<h5 class="text-white"><b>Job Type</b><br>{{job.job_type}}</h5>
									<img src="{{job.company.image.url}}" style="border-radius: 50%;" width="100px" height="100px">
									<h6 class="text-white">{{job.company.company_name}}</h6>
								</div>
								<div class="col-md-7">
																				
										<a href="single.html"><h4>{{job.title}}</h4></a>
											<h6>{{job.category}}</h6>	
										<p>
											{{job.job_description}}
										</p>	
										<div class="titles">
			
										</div>
										
								</div>
								<div class="col-md-3">
									<div class="row justify-content-center align-items-center">
										
										<ul class="btns">
										{% if request.user.is_recruiter and request.user.role == 'recruiter' %}
											<li><a href="" class="text-white">View</a></li>
										{% else %}
												<li><a href="#" class="text-white"><span class="lnr lnr-heart"></span></a></li>
									
										{% for aplli in  applied %}
										
										{% if aplli.job.id == job.id%}
										<span class="badge badge-pill badge-danger">APPLIED</span>
										{% endif %}												  
										{% endfor %}
	
										<li><a href="{% url 'apply_job' job.id %}" class="text-white">Apply</a></li>
												
	
										{% endif %}

										</ul>
										
									</div>

								</div>

								
							</div>
							{% endfor %}
							
							{% if job_count == count 	%}
							<a class="text-uppercase loadmore-btn mx-auto d-block text-white" style="background-color: rgba(2, 2, 2, 0.685) ;">No More Items... </a>
							{% else %}
							<a class="text-uppercase loadmore-btn mx-auto d-block" href="?intial_value={{count}}">Load More job Posts</a>
							{%  endif %}
							
							

						</div>
					
					</div>
				</div>	
			</section>
			<!-- End post Area -->
				

			<!-- Start callto-action Area -->
			<section class="callto-action-area section-gap" id="join">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content col-lg-9">
							<div class="title text-center">
								<h1 class="mb-10 text-white">Join us today without any hesitation</h1>
								<p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
								<a class="primary-btn" href="#">I am a Candidate</a>
								<a class="primary-btn" href="#">Request Free Demo</a>
							</div>
						</div>
					</div>	
				</div>	
			</section>
			<!-- End calto-action Area -->

			<!-- Start download Area -->

			<!-- End download Area -->
		
			<!-- start footer Area -->	
			{% include "base/footer.html" %}	

			<!-- End footer Area -->	
			{% endblock body %}	





