{% extends "base.html" %}
{% load static %}

{% block style %}
<style>
    button{
        font-size:x-large ;
        font-weight: bolder;
        background-color: rgba(0, 0, 0, 0.436);
        border: none;
    }
</style>
  
{% endblock style %}
{% block search %}
<div id="search">
<form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search" action="." method="GET">
  <input style="color: white; border: 2px solid rgba(255, 0, 0, 0.493);" type="text" name='job_fair' class="form-control text-white" placeholder="Search recruiters">
</form>

</div>
{% endblock search %}
{% block content %}

   <div class="main-panel">
          <div class="content-wrapper">

            <div class="row align-items-center justify-content-center">
    
    <div class="col-lg-12 ">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Job Fairs</h4>
                    {% if search_reset %}
                      <a href="{% url 'list_job_fair' %}" class="btn btn-danger">reset</a>
                    {% endif %}
                    <div class="table-responsive">
                      <table class="table ">
                        <thead>
                          <tr>

                            <th class="text-center">Name</th>
                            <th class="text-center">Created </th>
                            <th class="text-center">Edit</th>
                            <th class="text-center">Delete</th>
                            <th class="text-center">Registerd Companies</th>

                          </tr>
                        </thead>
                        <tbody>
                            
                            {% for job_fair  in job_fairs %}
                        <tr class="text-white">
 
                            <td class="text-center">{{job_fair.job_fair_name}}</td>
                            <td class="text-center">{{job_fair.conducted_date}}</td>
                            <td class="text-center"><button><a href="{% url 'edit_job_fair' job_fair.id %}"   class=""><i class="text-success mdi  mdi-tooltip-edit"></i></h3></button></td>
                            <td class="text-center"><button id="{{job_fair.id}}" onclick="getId(this.id)"  class=""><i class="text-danger mdi  mdi-delete"></i></button></td>
                            <td class="text-center"><h4><a class="text-white" style="text-decoration: none;" href="{% url 'list_of_companies' job_fair.id %}">view</a></h4></td>
                              
                            
                            
                        </tr>
                        
                            {% endfor %}

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div> 
            </div>
            
                                  <!-- paginator view -->
                        <div class="col-12 mt-5">
                          <nav>
                            <ul class="pagination justify-content-center">
                                {% if job_fairs.has_other_pages %}
                                  
                                  <!-- this is for the previous page -->
                                  {% if job_fairs.has_previous %}
                                  <li class=""><a class="btn bg-warning text-dark  active page-link" href="?page={{job_fairs.previous_page_number}}">&laquo; Prev</span></a></li>
                                  {% else %}
                                  <li class=""><a class="btn disabled  page-link" style="color: black;" href="#">&laquo; Prev </span></a></li>
                                  {% endif %}
                  
                                  <!-- this is for the all pages available in the paginator -->
                                  {% for page in  job_fairs.paginator.page_range %}
                  
                                      {% if job_fairs.number == page %}
                                      
                                      <!-- this is for activation of current page -->
                                      <li class=""><a class="page-link btn btn-warning   active" href="#" >{{page}} </a></li>
                  
                                      {% else %}
                                      <!-- its for the linking each pages which is not current page -->
                                      <li class="" ><a class="page-link btn btn-light " style="color: rgb(198, 226, 16);" href="?page={{page}}">{{page}}</a></li>
                                      {% endif %}
                                  
                                  {% endfor %}
                  
                                  <!-- this is for the next page number -->
                                  {% if job_fairs.has_next %}
                                  <li class=""><a class="btn active bg-warning text-dark  page-link"  href="?page={{job_fairs.next_page_number}}">Next &raquo;</a></li>
                                  {% else %}
                                  <li class=""><a class="disabled page-link" style="color: black;" href="">Next &raquo;</a></li>
                                  {% endif %}
                  
                              {% endif %}
                            </ul>
                          </nav>
                      </div>
                      <!-- paginator end herer -->

          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">jithin raj mm</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Job Portal </span>
            </div>
          </footer>
          <!-- partial -->
        </div>


  
{% endblock content %}

    {% block script %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script>
            function getId(id){
                const url = `${window.location.origin}/amn/job_fair_delete/${id}/`
                swal({
                title: "Are you sure?",
                text: "Do you want to give the Delete Job Fair",
                icon: "success",
                confirmButtonColor: "#063970",
                buttons: true,
                })
                .then((willDelete) => {
                if (willDelete) {
                    swal("Success ", {
                    icon: "success",
                    });
                    window.location = url
                    
                } else {
                    swal(" Cancelled the Delete Request");
                }
                });
                }
           			
		
				{% for msg in messages %}
					{% if msg.tags == 'success'  %}
						swal('{{msg}}','thank you',"success");
					{% else %}
					swal('{{msg}}','admin@gmail.com',"error");
					{% endif %}
				{% endfor %}
			
               
                    
             

           
        </script>
      
    {% endblock script %}