{% extends "base.html" %}
{% load static %}

{% block style %}
<style>
    button{
        font-size:x-large ;
        font-weight: bolder;
        background-color: rgba(0, 0, 0, 0.436);
        border: none;
    }
</style>
  
{% endblock style %}
{% block content %}

   <div class="main-panel">
          <div class="content-wrapper">

            <div class="row align-items-center justify-content-center">
    
    <div class="col-lg-12 ">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">New companies</h4>
     
                    <div class="table-responsive">
                      <table class="table ">
                        <thead>
                          <tr>
                            <th>image</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Country</th>
                            <th>Places</th>
                            <th>Recruiter</th>
                            <th>Link</th>
                            <th>Spam</th>
 
                          </tr>
                        </thead>
                        <tbody>
                            
                            {% for company  in companies %}
                        <tr class="text-white">
                            <td class="py-1">
                              <img src="{{company.image.url}}" alt="image" />
                            </td>
                            <td>{{company.company_name}}</td>
                            <td>{{company.email}}</td>
                            <td>{{company.country.name}}</td>
                            <td>{{company.places}}</td>
                            <td>{{company.recruiter.first_name}}</td>
                            <td>{{company.link|truncatechars:15}}</td>
                           
                            {% if company.spam %}
                            <td><button id="{{user.id}}" onclick="getId(this.id)"  class=""><i class="text-danger mdi mdi-account-check"></i></button></td>
                            {% else %}
                            <td><button id="{{user.id}}" onclick="getId(this.id)"  class=""><i class="text-success mdi  mdi-account-check"></i></button></td>
                              
                            {% endif %}
                            
                        </tr>
                        
                            {% endfor %}

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div> 
            </div>
                                            <!-- paginator view -->
                        <div class="col-12 mt-5">
                          <nav>
                            <ul class="pagination justify-content-center">
                                {% if companies.has_other_pages %}
                                  
                                  <!-- this is for the previous page -->
                                  {% if companies.has_previous %}
                                  <li class=""><a class="btn bg-warning text-dark  active page-link" href="?page={{companies.previous_page_number}}">&laquo; Prev</span></a></li>
                                  {% else %}
                                  <li class=""><a class="btn disabled  page-link" style="color: black;" href="#">&laquo; Prev </span></a></li>
                                  {% endif %}
                  
                                  <!-- this is for the all pages available in the paginator -->
                                  {% for page in  companies.paginator.page_range %}
                  
                                      {% if companies.number == page %}
                                      
                                      <!-- this is for activation of current page -->
                                      <li class=""><a class="page-link btn btn-warning   active" href="#" >{{page}} </a></li>
                  
                                      {% else %}
                                      <!-- its for the linking each pages which is not current page -->
                                      <li class="" ><a class="page-link btn btn-light " style="color: rgb(198, 226, 16);" href="?page={{page}}">{{page}}</a></li>
                                      {% endif %}
                                  
                                  {% endfor %}
                  
                                  <!-- this is for the next page number -->
                                  {% if companies.has_next %}
                                  <li class=""><a class="btn active bg-warning text-dark  page-link"  href="?page={{companies.next_page_number}}">Next &raquo;</a></li>
                                  {% else %}
                                  <li class=""><a class="disabled page-link" style="color: black;" href="">Next &raquo;</a></li>
                                  {% endif %}
                  
                              {% endif %}
                            </ul>
                          </nav>
                      </div>
                      <!-- paginator end herer -->

          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">jithin raj mm</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Job Portal </span>
            </div>
          </footer>
          <!-- partial -->
        </div>


  
{% endblock content %}

    {% block script %}
  
      
    {% endblock script %}