{% extends "base_tem.html" %}
{% load static %}
{% block style %}
<style>
#card:hover{
-webkit-box-shadow: 0px 0px 7px 0px rgba(252,252,252,1);
-moz-box-shadow: 0px 0px 7px 0px rgba(252,252,252,1);
box-shadow: 0px 0px 7px 0px rgba(252,252,252,1);
}
#date{
    background-color: #27285c8e;
    color: white;
}
#date:hover{
    background-image: -webkit-linear-gradient(0deg, #0dece8bd 0%, #27285C 100%); 
    }
.btn{
    background-color: #27285cb6;
}

.swal-modal{
    background-color: #0dece8bd;
}


</style>
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
{% endblock style %}

{% block body %}
  

{% include "base/nav.html" %}


			<!-- start banner Area -->
			<section class="banner-area relative" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								Applied Job's				
							</h1>	
							<p class="text-white link-nav"><a href="{% url 'home' %}">Home </a>  <span class="lnr lnr-arrow-left"></span>  <a href="category.html"> </a></p>
						</div>											
					</div>
				</div>
			</section>
			<!-- End banner Area -->	
            
       
			
			<!-- Start companies Area -->
			<section class="post-area section-gap">

				<div class="container-fluid">
					<div class="row justify-content-center d-flex">
						<!-- side bar start here -->
						<div class="col-lg-3 sidebar">
							<div class="single-slidebar">
								<h4>Jobs by Location</h4>
                                
                                
                                <form action="." method="GET">
                                 
                                <!-- Email input -->
                                <div class="input-group date" id="datepicker">
                                    <input type="text" id="date"   name="date" class="form-control">
                                    <span class="input-group-append">
                                        <span class="input-group-text bg-white d-block" style="background-color: #27285c8e;">
                                            <i class="fa fa-calendar" ></i>
                                        </span>
                                    </span>
                                </div>
                                
                                <!-- Submit button -->
                                
                                    <button id="btn" type="submit" class="btn  mt-2"><i class="fa-solid fa-magnifying-glass-location text-white"></i></button> 
                               
                               
                                </form>
                                                        
							</div>
						</div>
						<!-- side bar end here -->
						
						<!-- job list  -->
						<div class="col-lg-7 post-list">
							
							
							{% for job  in  applied_jobs %}
                            								
							<div class="row d-flex  justify-content-between  alert" style="background-color: #49e5fa5a;">  
                                <div class="w-25 d-flex  align-items-center">
                                    <h5 class="text-white">{{job.job.title}}</h5> 
                                </div>
                                <div class="w-25 d-flex  align-items-center justify-content-end">
                                    <h5 class="text-white">{{job.created}} ago</h5>
                                </div>
                                <div class="w-25 d-flex  align-items-center justify-content-end">
                                    {% if job.viewed %}
                                      <h5 class="text-white">viewed by recruiter</h5>
                                      {% else %}
                                      <h5 class="text-white">Pending</h5>
                                    {% endif %}
                                    
                                </div>
                                {% if not job.viewed %}
                              <div class="w-25 d-flex  align-items-center justify-content-end">
                                    <button id="{{job.id}}" onclick="getId(this.id)"  class="btn"><i class="fa-solid fa-xmark"></i></button> 
                                </div> 
                                {% endif %}

							</div>
                            
                            {% endfor %}
							
							

						</div>
						<!-- job list end here -->

					</div>
                    
							<nav aria-label="Page navigation example">
							{% if page_obj.has_other_pages %}
							<ul class="pagination justify-content-center">
								<li class="page-item ">
								<a class="page-link" href="?page=1" tabindex="-1">First</a>
								</li>
								{% if page_obj.has_previous %} 
								<li class="page-item ">
								<a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1"><i class="fa-solid fa-angles-left"></i></a>
								</li> 
								{% else %}
								<li class="page-item disabled"></li>
								{% endif %}
								
								{% for number in  page_obj.paginator.page_range  %}
								
								{% if page_obj.number == number %}
								<li class="page-item active"><a class="page-link" href="?page={{number}}">{{number}}</a></li>
								{% else %}
								<li class="page-item"><a class="page-link" href="?page={{number}}">{{number}}</a></li>
								{% endif %}
								  
								{% endfor %}
								
								
								{% if page_obj.has_next %}
								<li class="page-item ">
									<a class="page-link" href="?page={{page_obj.next_page_number }}" tabindex="-1"><i class="fa-solid fa-angles-right"></i></a>
								</li> 
								{% else %}
								<li class="page-item disabled"></li>
								{% endif %}
								<li class="page-item ">
									<a class="page-link" href="?page={{page_obj.paginator.num_pages}}" tabindex="-1">Last</a>
								</li> 
								
							</ul>
							{% endif %}
							</nav>
				</div>	
			</section>	
            {% block scripts %}

            <script type="text/javascript">
                    $(function() {
                        $('#datepicker').datepicker({ format: 'yyyy-mm-dd',});
                    });
                    
                    
                    
            </script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script>
            function getId(id){
                const url = `${window.location.origin}/unapply_job/${id}/`
                swal({
                title: "Are you sure",
                text: "Do you want to UnApply",
                
                confirmButtonColor: "#063970",
                buttons: true,
                background: 'red',
                
                })
                .then((willDelete) => {
                if (willDelete) {
                    swal("Success ", {
                    
                    
                    });
                    window.location = url
                    
                } else {
                    swal(" Cancelled the Registration ");
                }
                });
              
                }
        </script>
			{% endblock scripts %}				
<!-- End companies Area -->

{% include "base/footer.html" %}
{% endblock body %}

