
{% extends "../base_tem.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block style %}

<style>
.img{
    height: 298px;
    width: 183px;
    left: 614px;
    top: 79px;
    border-radius: 0px;
    }  
.login{
    background-color:#0dece87a; 
    border-radius: 20px;
    align-items: center;
}
label{
    color: white;
}
.asteriskField {
    display: none;
}
#id_last_name,#id_first_name,#id_email,#id_phone,#id_role,#id_password1,#id_password2{
    background-color: #27285c69;
    border-radius: 10px;
    color : white;
}
.bg{
    background-color: #0dece825;
    color: black;
}
</style>

  
{% endblock style %}

{% block body %}


			<!-- start banner Area -->
			<section class="banner-area relative" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row fullscreen d-flex align-items-center justify-content-center">
                        
						<div class="col-md-4 login text-center p-5"  >
                            <h1><a href="{% url 'job_list' %}"><i class="fa-solid fa-circle-arrow-left text-dark"></i></a></h1>
                          <div class="card bg" style="width: 18rem; ">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item bg ">{{job.title}}</li>
                                <li class="list-group-item bg ">{{job.company}}</li>
                                <li class="list-group-item bg">{{job.created | timesince}} ago</li>
                            </ul>
                            </div>
                            <form action="." method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{form|crispy}}
                            <div class="row justify-content-center align-items-center m-3">
                                <button type="submit" class="btn btn-info">
                                     APPLY
                                </button>

                                
                            </div>
                            </form>
                        </div>									
					</div>
				</div>
			</section>
			<!-- End banner Area -->	

  
{% endblock body %}